@charset "UTF-8";

* {padding:0; margin:0; border:0;}

ul {padding:0; margin:0; list-style:none;}
a {text-decoration:none; color:#000;}

html,body {background:#000;}

#dmm_ntgnavi {position:absolute; top:0; left:0; z-index:100; width:100%;}

#contents {}
.conBox {overflow:hidden; position:relative; text-align:center;}

#footer {overflow:hidden; position:relative;}
#footer .inner {overflow:hidden; max-width:950px; height:108px; padding-top:50px; margin:0 auto;}
#footer .inner .fLogo {float:right;}
#footer .inner .fList {overflow:hidden; float:left;}
#footer .inner .fList li {float:left; padding-left:10px;}
#footer .inner .fList li:before {content:""; display:inline-block; width:1px; height:10px; margin-right:10px; vertical-align:middle; background:#252525;}
#footer .inner .fList li:first-child {padding-left:0;}
#footer .inner .fList li:first-child:before {display:none;}
#footer .inner .fList li a {font-size:13px; color:#fff;}
#footer .inner .copyright {float:left; margin-top:25px; font-size:13px; color:#fff;}
#footer a.btnGoTop {position:absolute; bottom:57px; right:79px; z-index:1; width:40px; height:40px; border:2px solid #fff; text-align:center; font-size:14px; line-height:40px; color:#fff;}

/* error Page - start */
.errorPage {display:table; table-layout:fixed; width:100%; background:#000 url(../images/errorPage_bg01.jpg) no-repeat center top;}
.errorPage .inner {display:table-cell; vertical-align:middle;}
.errorPage .inner .txtBox {overflow:hidden; margin-top:50px;}
.errorPage .inner .txtBox p {margin-top:50px;}
.errorPage .inner .txtBox p.txt {margin-top:30px; font-size:22px; line-height:30px; color:#fff;}
.errorPage .inner .txtBox p.txt span {display:block;}
.errorPage .inner .btnWrap {margin-top:60px; text-align:center;}
.errorPage .inner .btnWrap a {display:inline-block;}
/* error Page - end */

/* term Page - start */
#termHeader {width:100%; height:55px; border-bottom:1px solid #ddd; background:#fff;}
#termHeader h1 a {display:inline-block; padding:12px 30px 17px; vertical-align:top;}
#termHeader h1 img {vertical-align:top;}

#termFooter {overflow:hidden; width:100%; border-top:1px solid #ddd; background:#fff;}
#termFooter .inner {overflow:hidden; max-width:950px; height:40px; margin:0 auto;}
#termFooter .inner .copyright {text-align:center; font-size:14px; line-height:40px; color:#666;}
#termFooter a.btnGoTop {position:absolute; bottom:57px; right:79px; z-index:1; width:40px; height:40px; border:2px solid #fff; text-align:center; font-size:14px; line-height:40px; color:#fff;}

.termPage .inner {overflow:visible; padding-left:235px; background:#eee;}
.termPage .inner ul.termList {}
.termPage .inner ul.termList > li {padding:0; text-align:left; background:#fff;}
.termPage .inner ul.termList > li > .termDetail {display:none; overflow-x:hidden; overflow-y:auto; min-height:600px; max-height:800px;}
.termPage .inner ul.termList > li > a.btnTerm {display:block; position:absolute; top:60px; left:0; z-index:1; width:185px; padding:10px 25px; font-size:16px; line-height:20px; color:#000;}
.termPage .inner ul.termList > li > a.btnTerm:hover {color:#5c956a;}
.termPage .inner ul.termList > li.active {padding:30px 40px;}
.termPage .inner ul.termList > li.active > .termDetail {display:block;}
.termPage .inner ul.termList > li.active > a.btnTerm {color:#5c956a;}
.termPage .inner ul.termList > li.term01 > a.btnTerm {top:60px;}
.termPage .inner ul.termList > li.term02 > a.btnTerm {top:100px;}
.termPage .inner ul.termList > li.term03 > a.btnTerm {top:140px;}
.termPage .inner ul.termList > li.term04 > a.btnTerm {top:180px;}
.termPage .inner ul.termList > li.term05 > a.btnTerm {top:220px;}

.termPage .inner ul.termList > li.active > .termDetail h2 {padding-bottom:30px; font-size:40px; font-weight:normal; color:#000;}
.termPage .inner ul.termList > li.active > .termDetail h3 {margin-top:30px; font-size:18px; font-weight:normal; color:#5c956a;}
.termPage .inner ul.termList > li.active > .termDetail p {font-size:16px; font-weight:normal; line-height:28px; color:#333;}
.termPage .inner ul.termList > li.active > .termDetail p span {display:block;}
.termPage .inner ul.termList > li.active > .termDetail dl {padding:0; margin:0; margin-top:30px;}
.termPage .inner ul.termList > li.active > .termDetail dl dt {font-size:16px; font-weight:normal; line-height:28px; color:#333;}
.termPage .inner ul.termList > li.active > .termDetail dl dd {font-size:16px; font-weight:normal; line-height:28px; color:#333;}
.termPage .inner ul.termList > li.active > .termDetail ul {padding:0; margin:0;}
.termPage .inner ul.termList > li.active > .termDetail ul li {font-size:16px; font-weight:normal; line-height:28px; color:#333;}
/* term Page - end */