@font-face {
  font-family: 'NotoSansJP';
  src: url('font/NotoSansCJKjp-Regular.eot');
  src: url('font/NotoSansCJKjp-Regular.woff') format('woff'),
       url('font/NotoSansCJKjp-Regular.ttf') format('truetype'),
       url('font/NotoSansCJKjp-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansJP';
  src: url('font/NotoSansCJKjp-Medium.eot');
  src: url('font/NotoSansCJKjp-Medium.woff') format('woff'),
       url('font/NotoSansCJKjp-Medium.ttf') format('truetype'),
       url('font/NotoSansCJKjp-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: 500;
}

@font-face {
  font-family: 'NotoSansJP';
  src: url('font/NotoSansCJKjp-Bold.eot');
  src: url('font/NotoSansCJKjp-Bold.woff') format('woff'),
       url('font/NotoSansCJKjp-Bold.ttf') format('truetype'),
       url('font/NotoSansCJKjp-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: bold;
}


html, body {font-family:"NotoSansCJKjp",sans-serif; font-weight:normal;}







