@charset "UTF-8";

* {padding:0; margin:0; border:0;}

ul {padding:0; margin:0; list-style:none;}
a {text-decoration:none; color:#000;}

html,body {background:#000;}

#dmm_ntgnavi {position:absolute; top:0; left:0; z-index:100; width:100%;}

#contents {}
.conBox {overflow:hidden; position:relative; text-align:center;}

.btnBgm {display:block; position:fixed; top:69px; right:60px; z-index:10; padding-right:30px; font-size:14px; line-height:16px; text-decoration:none; color:#fff; background:url(../images/iconBgmOff.png) no-repeat right center;}
.btnBgm.sound-on {background:url(../images/iconBgmOn.png) no-repeat right center;} /* 20180806 퍼블리싱 수정 */

h2.logoS {position:absolute; top:80px; left:3.5%; z-index:100;}

#fullMenu {display:table; table-layout:fixed; position:fixed; top:0; left:3.5%; z-index:100; height:100%; height:100vh;}
#fullMenu ul {display:table-cell; border-left:1px solid rgba(255,255,255,0.1); vertical-align:middle;}
#fullMenu li {margin-left:-20px; background:url(../images/iconFullMenu_off.png) no-repeat left center;}
#fullMenu li.active {background:url(../images/iconFullMenu_on.png) no-repeat left center;}
#fullMenu li a {display:block; padding:10px 10px 10px 40px; font-size:16px; line-height:1.5em; color:#fff; transition:all 0.3s ease-out; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out;}
#fullMenu li a:hover,
#fullMenu li.active a {text-shadow:0 0 0.3em #c71516, 0 0 0.5em #c71516;}

#mainFooter {overflow:hidden; width:100%; background:#000;}
#mainFooter .inner {overflow:hidden; max-width:950px; height:108px; padding-top:50px; margin:0 auto;}
#mainFooter .inner .fLogo {float:right;}
#mainFooter .inner .fList {overflow:hidden; float:left;}
#mainFooter .inner .fList li {float:left; padding-left:10px;}
#mainFooter .inner .fList li:before {content:""; display:inline-block; width:1px; height:10px; margin-right:10px; vertical-align:middle; background:#252525;}
#mainFooter .inner .fList li:first-child {padding-left:0;}
#mainFooter .inner .fList li:first-child:before {display:none;}
#mainFooter .inner .fList li a {font-size:13px; color:#fff;}
#mainFooter .inner .copyright {float:left; margin-top:25px; font-size:13px; color:#fff;}
#mainFooter a.btnGoTop {position:absolute; bottom:57px; right:79px; z-index:1; width:40px; height:40px; border:2px solid #fff; text-align:center; font-size:14px; line-height:40px; color:#fff;}

/* brand Main - start */
#mainSection01 {background:#000 url(../images/brandsite_bg01.jpg) no-repeat center top; background-size:cover;}
#mainSection01 .utilWrap {position:absolute; top:-530px; right:4%; z-index:10; width:260px;}
#mainSection01 .utilWrap .btnBox {height:248px; padding:260px 0 0; background:url(../images/brandsite_btnBg.png) repeat-y center top;}
#mainSection01 .utilWrap.active {top:39px; transition:top 0.4s ease-in;}
#mainSection01 .utilWrap.active .btnBox {padding:230px 0 0; transition:padding 0.3s ease-out 0.4s;}
#mainSection01 .utilWrap .btnBox a.btnGameStart {display:block; width:260px; height:90px; text-align:center; padding:82px 0; background:url(../images/brandsite_btnOff.png) no-repeat center top; transition:all 0.6s ease-out;}
#mainSection01 .utilWrap .btnBox a.btnGameStart:hover {background:url(../images/brandsite_btnOn.png) no-repeat center top;}
#mainSection01 .utilWrap .btnBox a img {vertical-align:top;}
#mainSection01 .txtBox {overflow:hidden; position:absolute; top:42%; left:0; z-index:2; width:100%;}
#mainSection01 .txtBox .typingTxt {overflow:hidden; height:140px; padding-top:50px; margin-top:40px; background:url(../images/brandsite_mentBg.png) no-repeat center top;}
#mainSection01 .txtBox .typingTxt ul.aniTxt {height:30px; text-align:center; font-size:0;}
#mainSection01 .txtBox .typingTxt ul.aniTxt li {display:inline-block;}
#mainSection01 .txtBox .typingTxt ul.aniTxt li img {display:none;}
#mainSection01 .txtBox .typingTxt ul.aniTxt li.on img {display:block;}
#mainSection01 .txtBox .typingTxt .txt02 {display:none; margin-top:15px;}
#mainSection01 .txtBox .typingTxt .txt02.on {display:block;}
#mainSection01 .scrollBox {position:absolute; bottom:7.5%; right:5%; z-index:2; width:306px; height:369px; background:url(../images/brandsite_scrollBg01.png) no-repeat left top;}
#mainSection01 .scrollBox .inner {height:309px; padding:30px;}
#mainSection01 .scrollBox .inner #twitterBox {overflow-x:hidden; overflow-y:auto; height:100%; padding-right:10px; text-align:left; font-size:14px; line-height:1.5em; color:#fff;}
#mainSection01 .scrollBox .inner #twitterBox::-webkit-scrollbar {width:6px;}
#mainSection01 .scrollBox .inner #twitterBox::-webkit-scrollbar-thumb {border-radius:3px; background:#980000;}
#mainSection01 .scrollBox .inner #twitterBox::-webkit-scrollbar-track {border-radius:3px; background:#fff;}
#mainSection01 .sect01_obj01 {position:absolute; top:0; left:0; z-index:1; width:100%; height:100%; height:100vh;}
#mainSection01 .sect01_obj01 img {width:auto; height:100%;}

#mainSection02 {background:#000 url(../images/brandsite_bg02.jpg) no-repeat center top; background-size:cover;}
#mainSection02 .txtBox {overflow:hidden;}
#mainSection02 .txtBox p {margin-top:60px;}
#mainSection02 .infoBox {overflow:hidden; width:950px; margin:35px auto 0; padding:60px 300px 70px 70px; border:1px solid rgba(255,255,255,0.1); box-sizing:border-box; background:rgba(0,0,0,0.65);}
#mainSection02 .infoBox p {margin:20px 0 0; text-align:left; font-size:18px; line-height:26px; color:#999;}
#mainSection02 .infoBox p.first {margin-top:0;}
#mainSection02 .infoBox p span {display:block;}
#mainSection02 .infoBox p strong {display:block; color:#e71b1c;}
#mainSection02 .objBox {}
#mainSection02 .objBox .sect02_obj01 {overflow:hidden; position:absolute; bottom:0; left:50%; z-index:10; max-height:100%; max-height:100vh; margin-left:150px; opacity:0; transform:translate(15%,0); transition:all 2s ease-out;}

#mainSection02.reveal .objBox .sect02_obj01 {opacity:1; transform:translate(0,0); transition:transform 1s ease-out, opacity 0.6s ease-out;}
/*#mainSection02.fp-completely .txtBox {opacity:1; transform:translate(0,0); transition:transform 0.5s ease-out, opacity 0.3s ease-out;}*/


#mainSection03 {background:#000 url(../images/brandsite_bg03.jpg) no-repeat center top; background-size:cover;}
#mainSection03 .txtBox {position:absolute; top:50%; left:50%; z-index:10; margin:-327px 0 0 -155px;}
#mainSection03 .hSlideBox {position:relative; z-index:2; width:100%; max-width:1020px; margin:50px auto 0;}
#mainSection03 .hSlideBox .slick-list {overflow:visible;}
#mainSection03 .hSlideBox .s-slider {opacity:0; transition:opacity 0.1s ease-out;}
#mainSection03 .hSlideBox .s-slider.slick-active,
#mainSection03 .hSlideBox .s-slider.slick-active + .s-slider,
#mainSection03 .hSlideBox .s-slider.showOn {opacity:1; transition:opacity 0.3s ease-out;}
#mainSection03 .hSlideBox .s-slider .screenBox {overflow:hidden; position:relative; z-index:11; width:100%; max-width:950px; padding:0 35px; margin:0 auto; box-sizing:border-box; font-size:0; line-height:0; background:transparent;}
#mainSection03 .hSlideBox .s-slider .screenBox img {width:100%; height:auto; vertical-align:top;}
#mainSection03 ul.character li {position:absolute; bottom:-8%; left:0; z-index:1; max-height:100%; max-height:100vh; opacity:0; transform:translate(-30%,0); transition:transform 0.3s ease-out, opacity 0.3s ease-out;}
#mainSection03 ul.character li img {width:auto; height:100%; /*max-height:667px;*/}
#mainSection03.reveal ul.character li.active {z-index:1; opacity:1; transform:translate(0,0); transition:transform 0.3s ease-out 0.6s, opacity 0.3s ease-out 0.6s;}
#mainSection03 .hSlideBox .slick-arrow.slick-prev {position:absolute; top:50%; left:0; z-index:20; width:30px; height:46px; margin-top:-23px; border:none; outline:none; text-indent:-9999px; font-size:0; cursor:pointer; background:transparent url(../images/iconArrow01_prev.png) no-repeat center center;}
#mainSection03 .hSlideBox .slick-arrow.slick-next {position:absolute; top:50%; right:0; z-index:20; width:30px; height:46px; margin-top:-23px; border:none;  outline:none; text-indent:-9999px; font-size:0; cursor:pointer; background:transparent url(../images/iconArrow01_next.png) no-repeat center center;}
#mainSection03 .hSlideBox .slick-dots {position:absolute; left:0; bottom:0; z-index:2; width:100%; margin-bottom:-40px; text-align:center;}
#mainSection03 .hSlideBox .slick-dots li {display:inline-block; width:26px; height:22px; margin:0 7px;}
#mainSection03 .hSlideBox .slick-dots li button {display:inline-block; width:100%; height:100%; outline:none; font-size:0; cursor:pointer; background:url(../images/iconIndicator01_off.png) no-repeat center center;}
#mainSection03 .hSlideBox .slick-dots li button:hover,
#mainSection03 .hSlideBox .slick-dots li.slick-active button {background:url(../images/iconIndicator01_on.png) no-repeat center center;}
#mainSection03 .objBox .sect04_obj01 {position:absolute; top:13%; left:50%; z-index:1; max-height:100%; max-height:100vh; margin-left:275px; opacity:0; transform:translate(15%,-10%) scale(0.8); transition:all 0.3s ease-out;}
#mainSection03 .objBox .sect03_obj01 {overflow:hidden; position:absolute; top:13%; left:50%; z-index:1; max-height:100%; max-height:100vh; margin-left:275px; opacity:0; transform:translate(15%,-10%) scale(0.8); transition:all 0.3s ease-out;}

#mainSection03.reveal .objBox .sect03_obj01 {opacity:1; transform:translate(0,0) scale(1); transition:transform 0.6s ease-out 0.8s, opacity 0.4s ease-out 0.8s;}
/*#mainSection03.fp-completely .txtBox {opacity:1; transform:translate(0,0); transition:transform 0.5s ease-out, opacity 0.3s ease-out;}*/

#mainSection04 {background:#000 url(../images/brandsite_bg04.jpg) no-repeat center top; background-size:cover;}
#mainSection04 .hSlideTab {overflow:hidden; position:relative; z-index:10; width:95%; max-width:949px; margin:20px auto 0; border-bottom:2px solid #e71b1b; text-align:center; font-size:0;}
#mainSection04 .hSlideTab li {display:inline-block; width:127px; height:58px; vertical-align:top;}
#mainSection04 .hSlideTab li {margin-left:10px;}
#mainSection04 .hSlideTab li:first-child {margin-left:0;}
#mainSection04 .hSlideTab li a {display:inline-block; width:100%; height:100%; vertical-align:top; background:#2d3843; background:linear-gradient(#2d3843,#101419); transition:all 0.5s ease-out;}
#mainSection04 .hSlideTab li.active a {background:#e71b1b; background:linear-gradient(#7d0a0a,#e71b1b); transition:all 0.5s ease-out;}
#mainSection04 .hSlideTab li a span {display:inline-block; width:100%; height:100%; vertical-align:top;}
#mainSection04 .hSlideTab li:nth-child(1) a span {background:url(../images/brandsite_charTab01.png) no-repeat center center;}
#mainSection04 .hSlideTab li:nth-child(2) a span {background:url(../images/brandsite_charTab02.png) no-repeat center center;}
#mainSection04 .hSlideTab li:nth-child(3) a span {background:url(../images/brandsite_charTab03.png) no-repeat center center;}
#mainSection04 .hSlideTab li:nth-child(4) a span {background:url(../images/brandsite_charTab04.png) no-repeat center center;}
#mainSection04 .hSlideTab li:nth-child(5) a span {background:url(../images/brandsite_charTab05.png) no-repeat center center;}
#mainSection04 .hSlideTab li:nth-child(6) a span {background:url(../images/brandsite_charTab06.png) no-repeat center center;}
#mainSection04 .hSlideTab li:nth-child(7) a span {background:url(../images/brandsite_charTab07.png) no-repeat center center;}
#mainSection04 .hSlideBox {position:relative; width:95%; max-width:950px; margin:0 auto;}
#mainSection04 .hSlideBox .slick-list {overflow:visible;}
#mainSection04 .hSlideBox .s-slider {height:648px;}
#mainSection04 .hSlideBox .s-slider .charThms ul {display:none; overflow:hidden; position:relative; z-index:2;}
#mainSection04 .hSlideBox .s-slider .charThms ul:first-child {display:block;}
#mainSection04 .hSlideBox .s-slider .charThms ul li {display:table; table-layout:fixed; overflow:hidden; float:left; width:25%; height:auto; opacity:0; transform:translate(0,-2%); transition:transform 0.2s ease-out, opacity 0.2s ease-out;}
#mainSection04 .hSlideBox .s-slider .charThms ul li:nth-child(1) {transition:transform 0.5s ease-out 0s, opacity 0.3s ease-out 0s;}
#mainSection04 .hSlideBox .s-slider .charThms ul li:nth-child(2) {transition:transform 0.5s ease-out 0.2s, opacity 0.3s ease-out 0.2s;}
#mainSection04 .hSlideBox .s-slider .charThms ul li:nth-child(3) {transition:transform 0.5s ease-out 0.4s, opacity 0.3s ease-out 0.4s;}
#mainSection04 .hSlideBox .s-slider .charThms ul li:nth-child(4) {transition:transform 0.5s ease-out 0.6s, opacity 0.3s ease-out 0.6s;}
#mainSection04 .hSlideBox .s-slider .charThms ul li:nth-child(5) {transition:transform 0.5s ease-out 0.1s, opacity 0.3s ease-out 0.1s;}
#mainSection04 .hSlideBox .s-slider .charThms ul li:nth-child(6) {transition:transform 0.5s ease-out 0.3s, opacity 0.3s ease-out 0.3s;}
#mainSection04 .hSlideBox .s-slider .charThms ul li:nth-child(7) {transition:transform 0.5s ease-out 0.5s, opacity 0.3s ease-out 0.5s;}
#mainSection04 .hSlideBox .s-slider .charThms ul li:nth-child(8) {transition:transform 0.5s ease-out 0.7s, opacity 0.3s ease-out 0.7s;}
#mainSection04 .hSlideBox .s-slider .charThms ul li:nth-child(9) {transition:transform 0.5s ease-out 0.2s, opacity 0.3s ease-out 0.2s;}
#mainSection04 .hSlideBox .s-slider .charThms ul li:nth-child(10) {transition:transform 0.5s ease-out 0.4s, opacity 0.3s ease-out 0.4s;}
#mainSection04 .hSlideBox .s-slider .charThms ul li:nth-child(11) {transition:transform 0.5s ease-out 0.6s, opacity 0.3s ease-out 0.6s;}
#mainSection04 .hSlideBox .s-slider .charThms ul li:nth-child(12) {transition:transform 0.5s ease-out 0.8s, opacity 0.3s ease-out 0.8s;}
#mainSection04 .hSlideBox .s-slider.slick-active .charThms ul li {opacity:1; transform:translate(0,0);}
#mainSection04 .hSlideBox .s-slider .charThms ul li a {display:table-cell; vertical-align:bottom; outline:none; text-align:center; font-size:0; cursor:default;}
#mainSection04 .hSlideBox .s-slider .charThms ul li a img {width:100%; height:auto;}
#mainSection04 .hSlideBox .s-slider .character {overflow:visible; position:absolute; top:0; right:0; z-index:1; margin:-200px 0 0 0; opacity:0; transform:translate(20%,0); transition:transform 0.3s ease-out, opacity 0.3s ease-out;}
#mainSection04.reveal .hSlideBox .s-slider.slick-active .character {opacity:1; transform:translate(0,0); transition:transform 0.6s ease-out 0.5s, opacity 0.3s ease-out 0.5s;}
#mainSection04 .hSlideBox .s-slider .character img {margin-left:65%;}
#mainSection04 .hSlideBox .slick-arrow.slick-prev {position:absolute; top:50%; left:50%; z-index:1000; width:30px; height:46px; margin-top:16px; margin-left:-525px; border:none; outline:none; text-indent:-9999px; font-size:0; cursor:pointer; background:transparent url(../images/iconArrow01_prev.png) no-repeat center center;}
#mainSection04 .hSlideBox .slick-arrow.slick-next {position:absolute; top:50%; right:50%; z-index:1000; width:30px; height:46px; margin-top:16px; margin-right:-525px; border:none; outline:none; text-indent:-9999px; font-size:0; cursor:pointer; background:transparent url(../images/iconArrow01_next.png) no-repeat center center;}
#mainSection04 .hSlideBox .s-slider .charThms .pagination {position:absolute; bottom:0; left:0; z-index:10; width:100%; margin-bottom:-40px;}
#mainSection04 .hSlideBox .s-slider .charThms .pagination span {display:inline-block; width:26px; height:22px; margin:0 7px; vertical-align:top;}
#mainSection04 .hSlideBox .s-slider .charThms .pagination span a {display:inline-block; width:100%; height:100%; outline:none; vertical-align:top; font-size:0; cursor:pointer; background:url(../images/iconIndicator01_off.png) no-repeat center center;}
#mainSection04 .hSlideBox .s-slider .charThms .pagination span a:hover,
#mainSection04 .hSlideBox .s-slider .charThms .pagination span.active a {background:url(../images/iconIndicator01_on.png) no-repeat center center;}


#mainSection05 {background:#000 url(../images/brandsite_bg05.jpg) no-repeat center top; background-size:cover;}
#mainSection05 .txtBox {}
#mainSection05 .infoBox {overflow:hidden; position:relative; z-index:11; max-width:950px; margin:50px auto 0;}
#mainSection05 .infoBox li {float:left; width:50%; min-height:400px; max-width:475px; border:1px solid rgba(255,255,255,0.1); box-sizing:border-box; font-size:0; line-height:0; background:rgba(0,0,0,0.65);}
#mainSection05 .infoBox li:last-child {border-left:0;}
#mainSection05 .infoBox table.infoTbl {width:100%; table-layout:fixed; text-align:center;}
#mainSection05 .infoBox table.infoTbl thead th {height:58px; border-bottom:1px solid rgba(255,255,255,0.1); font-size:16px; font-weight:500; color:#fff;}
#mainSection05 .infoBox table.infoTbl tbody th {height:45px; padding-left:30px; text-align:left; font-size:16px; font-weight:500; line-height:22px; color:#fff;}
#mainSection05 .infoBox table.infoTbl tbody td {height:45px; padding-left:30px; text-align:left; font-size:16px; line-height:22px; color:#fff;}
#mainSection05 .infoBox table.infoTbl tbody tr:first-child th,
#mainSection05 .infoBox table.infoTbl tbody tr:first-child td {padding-top:10px;}

#mainSection05 .objBox {}
#mainSection05 .objBox .sect05_obj01 {overflow:hidden; position:absolute; bottom:0; left:50%; z-index:10; max-height:100%; max-height:100vh; margin-left:100px; opacity:0; transform:translate(5%,0); transition:all 5s ease-out;}

#mainSection05.reveal .objBox .sect05_obj01 {opacity:1; transform:translate(0,0); transition:transform 1.2s ease-out 0.5s, opacity 0.8s ease-out 0.5s;}
/*#mainSection05.fp-completely .txtBox {opacity:1; transform:translate(0,0); transition:transform 0.6s ease-out, opacity 0.6s ease-out;}
#mainSection05.fp-completely .infoBox {opacity:1; transform:translate(0,0); transition:transform 0.8s ease-out 0.1s, opacity 0.8s ease-out 0.1s;}*/
/* brand Main - end */
