@charset "UTF-8";


* {padding:0; margin:0; border:0;}

ul {padding:0; margin:0; list-style:none;}
a {text-decoration:none; color:#000;}
img {border:0; vertical-align:top;}

html,body {height:100%; background:#000;}

header {width:100%; box-sizing:border-box;}

#contents {}
.conBox {overflow:hidden; position:relative; text-align:center;}

#footer {overflow:hidden; position:relative; margin-top:0; background:#000;}
#footer .inner {overflow:hidden; width:100%; height:100px; padding:10px 0; margin:0 auto; box-sizing:border-box; text-align:center;}
#footer .inner .fLogo {display:block;}
#footer .inner .fLogo img {width:auto; height:29px;}
#footer .inner .fList {overflow:hidden; padding:0 10px; margin-top:7px; font-size:0;}
#footer .inner .fList li {display:inline-block; padding:0 0 3px 5px;}
#footer .inner .fList li:after {content:""; display:inline-block; width:1px; height:11px; margin-left:5px; vertical-align:middle; font-size:0; background:#252525;}
#footer .inner .fList li:first-child {padding-left:0;}
#footer .inner .fList li:last-child:after {display:none;}
#footer .inner .fList li a {vertical-align:middle; font-size:10px; line-height:11px; color:#fff;}
#footer .inner .copyright {margin-top:5px; font-size:11px; line-height:11px; color:#fff;}
#footer a.btnGoTop {position:fixed; bottom:15px; right:15px; z-index:1; width:30px; height:30px; border:1px solid #fff; text-align:center; font-size:11px; line-height:32px; color:#fff;}

/* error Page - start */
.errorPage {display:table; table-layout:fixed; width:100%; height:100%; height:calc(100vh - 132px);}
.errorPage .inner {display:table-cell; vertical-align:middle; text-align:center; background:#000 url(../images/errorPage_bg01.jpg) no-repeat center top; background-size:cover;}
.errorPage .inner .txtBox {display:inline-block; overflow:hidden;}
.errorPage .inner .txtBox h1 {}
.errorPage .inner .txtBox h1 img {width:172px; height:auto;}
.errorPage .inner .txtBox p {margin-top:25px;}
.errorPage .inner .txtBox p img {width:auto; height:26px;}
.errorPage .inner .txtBox p.txt {margin-top:20px; font-size:12px; line-height:18px; color:#fff;}
.errorPage .inner .txtBox p.txt span {display:block;}
.errorPage .inner .btnWrap {margin-top:20px; text-align:center;}
.errorPage .inner .btnWrap a {display:inline-block;}
.errorPage .inner .btnWrap a img {width:117px; height:auto;}
/* error Page - end */

/* term Page - start */
#termHeader {position:fixed; top:0; left:0; z-index:1; width:100%; height:27px; border-bottom:1px solid #ddd; background:#fff;}
#termHeader h1 a {display:inline-block; padding:7px 15px; vertical-align:top;}
#termHeader h1 img {width:89px; height:auto; vertical-align:middle;}

#termFooter {position:fixed; bottom:0; left:0; z-index:1; width:100%; height:27px; border-top:1px solid #ddd; background:#fff;}
#termFooter .copyright {text-align:center; font-size:11px; line-height:27px; color:#666;}

.termPage {height:100vh; padding:28px 0; box-sizing:border-box;}
.termPage .inner {height:100%; padding:15px 15px 20px; box-sizing:border-box; background:#fff;}
.termPage .inner .termDetail {overflow-x:hidden; overflow-y:auto; height:100%; padding-right:10px; text-align:left;}
.termPage .inner .termDetail::-webkit-scrollbar {width:4px;}
.termPage .inner .termDetail::-webkit-scrollbar-thumb {border-radius:2px; background:#5c956a;}
.termPage .inner .termDetail::-webkit-scrollbar-track {border-radius:2px; background:#ddd;}
.termPage .inner .termDetail h2 {padding-bottom:20px; font-size:20px; font-weight:normal; color:#000;}
.termPage .inner .termDetail h3 {margin-top:15px; font-size:12px; font-weight:normal; color:#5c956a;}
.termPage .inner .termDetail p {font-size:12px; font-weight:normal; line-height:18px; color:#333;}
.termPage .inner .termDetail p span {display:block;}
.termPage .inner .termDetail dl {padding:0; margin:0; margin-top:15px;}
.termPage .inner .termDetail dl dt {font-size:12px; font-weight:normal; line-height:18px; color:#333;}
.termPage .inner .termDetail dl dd {font-size:12px; font-weight:normal; line-height:18px; color:#333;}
.termPage .inner .termDetail ul {padding:0; margin:0;}
.termPage .inner .termDetail ul li {font-size:12px; font-weight:normal; line-height:18px; color:#333;}
/* term Page - end */