@charset "UTF-8";
/* CSS Document */
/* ========================= [ header ] */
header {
    text-align: left;
    padding: 8px 10px;
    border-bottom: #ccc 1px solid;
    background: #fff;
    line-height: 0;
}
header img { vertical-align: bottom; }