@charset "UTF-8";

* {padding:0; margin:0; border:0;}

ul {padding:0; margin:0; list-style:none;}
a {text-decoration:none; color:#000;}
img {border:0; vertical-align:top;}

html,body {height:100%; background:#000;}

header {position:absolute; top:0; left:0; z-index:100; width:100%; box-sizing:border-box;}

#contents {}
/*.conBox {height:100vh; height:calc(100vh - 32px); padding-bottom:125px; box-sizing:border-box;}*/
.conBox {overflow:hidden; position:relative; text-align:center;}
.conBox .btnBgm {display:block; position:absolute; top:32px; right:0; z-index:10; padding:8px; vertical-align:top; font-size:11px; line-height:12px; text-decoration:none; color:#fff;}
.conBox .btnBgm:after {content:""; display:inline-block; width:13px; height:12px; padding-left:5px; vertical-align:-2px; font-size:0;}
.conBox .btnBgm.on:after {background:url(../images/iconBgmOn.png) no-repeat right center; background-size:13px 8px;}
.conBox .btnBgm.off:after {background:url(../images/iconBgmOff.png) no-repeat right center; background-size:13px 8px;}

h2.logoS {position:absolute; top:42px; left:10px; z-index:100; transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);}
h2.logoS img {width:102px; height:auto;}

#footer {overflow:hidden; position:relative; margin-top:0; background:#000;}
#footer .inner {overflow:hidden; width:100%; height:100px; padding:10px 0; margin:0 auto; box-sizing:border-box; text-align:center;}
#footer .inner .fLogo {display:block;}
#footer .inner .fLogo img {width:auto; height:29px;}
#footer .inner .fList {overflow:hidden; padding:0 10px; margin-top:2px; font-size:0;}
#footer .inner .fList.first {margin-top:7px;}
#footer .inner .fList li {display:inline-block; padding:0 0 3px 5px;}
#footer .inner .fList li:after {content:""; display:inline-block; width:1px; height:11px; margin-left:5px; vertical-align:middle; font-size:0; background:#252525;}
#footer .inner .fList li:first-child {padding-left:0;}
#footer .inner .fList li:last-child:after {display:none;}
#footer .inner .fList li a {vertical-align:middle; font-size:10px; line-height:11px; color:#fff;}
#footer .inner .copyright {margin-top:5px; font-size:11px; line-height:11px; color:#fff;}
#footer a.btnGoTop {position:fixed; bottom:15px; right:15px; z-index:100; width:30px; height:30px; border:1px solid #fff; text-align:center; font-size:11px; line-height:32px; color:#fff;}

#mainFooter {overflow:hidden; width:100%; background:#000;}
#mainFooter .inner {overflow:hidden; width:100%; height:auto; padding:10px 0; margin:0 auto; box-sizing:border-box; text-align:center;}
#mainFooter .inner .fLogo {display:block;}
#mainFooter .inner .fLogo img {width:auto; height:29px;}
#mainFooter .inner .fList {overflow:hidden; padding:0 10px; margin-top:2px; font-size:0;}
#mainFooter .inner .fList.first {margin-top:7px;}
#mainFooter .inner .fList li {display:inline-block; padding:0 0 3px 3px;}
#mainFooter .inner .fList li:after {content:""; display:inline-block; width:1px; height:11px; margin-left:3px; vertical-align:middle; font-size:0; background:#252525;}
#mainFooter .inner .fList li:first-child {padding-left:0;}
#mainFooter .inner .fList li:last-child:after {display:none;}
#mainFooter .inner .fList li a {vertical-align:middle; font-size:10px; line-height:11px; color:#fff;}
#mainFooter .inner .copyright {margin-top:5px; font-size:11px; line-height:11px; color:#fff;}
#mainFooter a.btnGoTop {position:absolute; bottom:15px; right:15px; z-index:100; width:30px; height:30px; border:1px solid #fff; text-align:center; font-size:11px; line-height:32px; color:#fff;}

/* teaser Main - start */
#mainSection01 {overflow:hidden; background:#000 url(../images/teasersite_bg01.jpg) no-repeat center center; background-size:cover;}
#mainSection01 .utilWrap {position:absolute; top:2px; right:0px; z-index:10; width:114px;}
#mainSection01 .utilWrap .btnBox {padding-top:60px; background:url(../images/teaserMain_btnBg.png) no-repeat center top; background-size:auto 60px;}
#mainSection01 .utilWrap .btnBox a.btnTeaser {display:block; width:100%; height:auto; text-align:center; padding:26px 0; background:url(../images/teaserMain_btnOff.png) no-repeat center top; background-size:96px auto; transition:all 0.6s ease-out;}
#mainSection01 .utilWrap .btnBox a.btnTeaser:hover {background:url(../images/teaserMain_btnOn.png) no-repeat center top; background-size:96px auto;}
#mainSection01 .utilWrap .btnBox a img {width:34px; height:auto; vertical-align:top;}
#mainSection01 .chkBoxWrap {overflow:hidden; height:38px; padding:14px 16px 0; margin:-4px 0 0 -2px; text-align:left; font-size:0; background:url(../images/teaserMain_chkBg.png) no-repeat center top; background-size:auto 52px;}
#mainSection01 .chkBoxWrap input {display:inline-block; width:20px; height:20px; margin-top:9px; border:none; outline:none; vertical-align:top; background:url(../images/teaserMain_chkBox.png) no-repeat center center; background-size:20px; appearance:none; -webkit-appearance:none; cursor:pointer;}
#mainSection01 .chkBoxWrap input:checked {background:url(../images/teaserMain_chkBoxOn.png) no-repeat center center; background-size:20px;}
#mainSection01 .chkBoxWrap label {display:inline-block; width:60px; padding:5px 0 0 3px; vertical-align:top; text-align:left;}
#mainSection01 .chkBoxWrap label span {display:inline-block; width:100%; font-size:10px; line-height:13px; letter-spacing:-0.08em; color:#fff; cursor:pointer;}
#mainSection01 .txtBox {overflow:hidden; position:absolute; bottom:6%; left:0; z-index:2; width:100%;}
#mainSection01 .txtBox h1 {}
#mainSection01 .txtBox h1 img {width:210px; height:auto;}
#mainSection01 .txtBox p {margin-top:15px;}
#mainSection01 .txtBox p img {width:355px; height:auto;}
#mainSection01 .sect01_obj01 {position:absolute; bottom:-10%; left:0; z-index:1; width:100%; height:100%; height:100vh;}
#mainSection01 .sect01_obj01 img {width:auto; height:100%;}

#mainSection02 {overflow:hidden; background:#000 url(../images/teasersite_bg02.jpg) no-repeat center top; background-size:cover;}
#mainSection02 .txtBox {overflow:hidden; position:relative; z-index:2; margin-top:15%; transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);}
#mainSection02 .txtBox p {}
#mainSection02 .txtBox p img {width:141px; height:auto;}
#mainSection02 .txtBox p.subTxt {margin-top:10px;}
#mainSection02 .txtBox p.subTxt img {width:281px; height:auto;}
#mainSection02 .eventConBox {overflow:hidden; position:relative; z-index:2; width:100%; padding:0 10px; margin-top:15px; box-sizing:border-box; transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);}
#mainSection02 .eventConBox .inner {position:relative; padding:20px; border:1px solid rgba(255,255,255,0.1); box-sizing:border-box; background:rgba(0,0,0,0.65);}
#mainSection02 .eventConBox .rewardList li {position:relative; width:100%; height:auto; margin-top:5px; text-align:center; font-size:0; background:url(../images/teasersite_eventIcon01.png) no-repeat center center; background-size:12px auto;}
#mainSection02 .eventConBox .rewardList li:first-child {margin-top:0;}
#mainSection02 .eventConBox .rewardList li.reward_more {background:url(../images/eventRewardMore.png) no-repeat center center; background-size:contain;}

#mainSection02 .eventConBox .rewardList li img {visibility:hidden; width:100%; height:auto; vertical-align:top;}
#mainSection02 .eventConBox .rewardList li.active img {visibility:visible;}
#mainSection02 .eventConBox .rewardList li.active.attainment:after {content:""; display:block; position:absolute; top:0; left:0; z-index:1; width:100%; height:100%; background:url(../images/eventRewardSticker.png) no-repeat left center; background-size:auto 100%;}

#mainSection02 .objBox .sect02_obj01 {position:absolute; bottom:0; left:-5%; z-index:1; height:100%; height:100vh; padding-top:30px; box-sizing:border-box; opacity:0; transform:translate(-35%,0); transition:all 0.3s ease-out;}
#mainSection02 .objBox .sect02_obj01 img {width:auto; height:100%;}
#mainSection02.reveal .objBox .sect02_obj01 {opacity:1; transform:translate(0,0); transition:transform 0.6s ease-out, opacity 0.6s ease-out;}

#mainSection03 {overflow:hidden; background:#000 url(../images/teasersite_bg03.jpg) no-repeat center top; background-size:cover;}
#mainSection03 .txtBox {overflow:hidden; position:relative; z-index:2; margin-top:15%; transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);}
#mainSection03 .txtBox p {}
#mainSection03 .txtBox p img {width:117px; height:auto;}
#mainSection03 .infoBox {overflow:hidden; position:relative; z-index:2; width:100%; padding:0 10px; margin-top:15px; box-sizing:border-box; transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);}
#mainSection03 .infoBox .inner {overflow:hidden; padding:35px 25px; border:1px solid rgba(255,255,255,0.1); box-sizing:border-box; background:rgba(0,0,0,0.65);}
#mainSection03 .infoBox .inner p {margin:15px 0 0; text-align:center; font-size:11px; line-height:18px; color:#999;}
#mainSection03 .infoBox .inner p.first {margin-top:0;}
#mainSection03 .infoBox .inner p span {display:block;}
#mainSection03 .infoBox .inner p strong {display:block; color:#e7331b;}
#mainSection03 .objBox {}
#mainSection03 .objBox .sect03_obj01 {position:absolute; bottom:0; right:0; z-index:1; height:100%; height:100vh; padding-top:20%; box-sizing:border-box; opacity:0; transform:translate(15%,0); transition:all 0.3s ease-out;}
#mainSection03 .objBox .sect03_obj01 img {width:auto; height:100%; /*max-height:610px;*/}

#mainSection03.reveal .objBox .sect03_obj01 {opacity:1; transform:translate(0,0); transition:transform 0.6s ease-out, opacity 0.6s ease-out;}

#mainSection04 {overflow:hidden; background:#000 url(../images/teasersite_bg04.jpg) no-repeat center top; background-size:cover;}
#mainSection04 .txtBox {position:absolute; top:50%; left:50%; z-index:10; margin:-37vw 0 0 -77.5px; transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);}
#mainSection04 .txtBox p {padding-top:16px;}
#mainSection04 .txtBox p img {width:155px; height:auto;}
#mainSection04 .hSlideBox {position:relative; padding-top:32px; z-index:2; transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);}
#mainSection04 .hSlideBox .slick-list {overflow:visible;}
#mainSection04 .hSlideBox .s-slider .screenBox {overflow:hidden; position:relative; z-index:11; width:100%; padding:0 35px; box-sizing:border-box; font-size:0; line-height:0;}
#mainSection04 .hSlideBox .s-slider .screenBox img {width:100%; height:auto; vertical-align:top;}
#mainSection04 ul.character li {position:absolute; bottom:0; left:0; z-index:1; height:100%; height:100vh; padding-top:32px; box-sizing:border-box; opacity:0; transform:translate(-40%,0); transition:transform 0.3s ease-out, opacity 0.3s ease-out;}
#mainSection04 ul.character li img {width:auto; height:100%; /*max-height:667px;*/}
#mainSection04.reveal ul.character li.active {opacity:1; transform:translate(0,0); transition:all 0.8s ease-out;}
#mainSection04 .hSlideBox .slick-arrow.slick-prev {position:absolute; top:50%; left:0; z-index:15; width:30px; height:46px; margin-top:-23px; border:none; outline:none; text-indent:-9999px; font-size:0; background:transparent url(../images/iconArrow01_prev.png) no-repeat center center; background-size:15px auto;}
#mainSection04 .hSlideBox .slick-arrow.slick-next {position:absolute; top:50%; right:0; z-index:15; width:30px; height:46px; margin-top:-23px; border:none; outline:none; text-indent:-9999px; font-size:0; background:transparent url(../images/iconArrow01_next.png) no-repeat center center; background-size:15px auto;}
#mainSection04 .hSlideBox .slick-dots {position:absolute; left:0; bottom:0; z-index:2; width:100%; margin-bottom:-20px; text-align:center;}
#mainSection04 .hSlideBox .slick-dots li {display:inline-block; width:13px; height:11px; margin:0 3px;}
#mainSection04 .hSlideBox .slick-dots li button {display:inline-block; width:100%; height:100%; outline:none; font-size:0; background:url(../images/iconIndicator01_off.png) no-repeat center center; background-size:13px 11px;}
#mainSection04 .hSlideBox .slick-dots li.slick-active button {background:url(../images/iconIndicator01_on.png) no-repeat center center; background-size:13px 11px;}
#mainSection04 .objBox .sect04_obj01 {position:absolute; top:5%; right:0; z-index:1; text-align:right; opacity:0; transform:translate(15%,-10%) scale(0.8); transition:all 0.3s ease-out;}
#mainSection04 .objBox .sect04_obj01 img {width:auto; height:155px;}
#mainSection04.reveal .objBox .sect04_obj01 {opacity:1; transform:translate(0,0) scale(1); transition:transform 0.8s ease-out 0.5s, opacity 0.3s ease-out 0.5s;}

#mainSection05 {overflow:hidden; background:#000 url(../images/teasersite_bg05.jpg) no-repeat center top; background-size:cover;}
#mainSection05 .txtBox {position:relative; z-index:2; margin-top:32px; transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);}
#mainSection05 .txtBox p img {width:153px; height:auto;}
#mainSection05 .designSelectWrap {overflow:visible; position:relative; z-index:10; margin:10px 10px 0; text-align:center; font-size:0; transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);}
#mainSection05 .designSelectWrap a.selectedBox {display:block; width:100%; height:28px; padding:4px 0; box-sizing:border-box; vertical-align:top; background:#e71b1b; background:linear-gradient(#7d0a0a,#e71b1b);}
#mainSection05 .designSelectWrap a.selectedBox span {display:inline-block; width:100%; height:100%; vertical-align:top; text-align:right; background:url(../images/brandsite_charTab01.png) no-repeat center center; background-size:contain;}
#mainSection05 .designSelectWrap a.selectedBox span:after {content:""; display:inline-block; width:10px; height:8px; margin:6px 15px; background:url(../images/iconArrowSel_off.png) no-repeat center center; background-size:contain;}
#mainSection05 .designSelectWrap a.selectedBox.active span:after {background:url(../images/iconArrowSel_on.png) no-repeat center center; background-size:contain;}
#mainSection05 .designSelectWrap .optList {display:none; position:absolute; top:28px; left:0; z-index:20; width:100%; box-sizing:border-box; text-align:center; font-size:0;}
#mainSection05 .designSelectWrap .optList li {width:100%; height:28px; vertical-align:top;}
#mainSection05 .designSelectWrap .optList li a {display:block; width:100%; height:100%; padding:4px 0; box-sizing:border-box; vertical-align:top; background:#101419; background:linear-gradient(#2d3843,#101419);}
#mainSection05 .designSelectWrap .optList li.active {display:block;}
#mainSection05 .designSelectWrap .optList li.active a {background:#e71b1b; background:linear-gradient(#7d0a0a,#e71b1b); transition:all 0.5s ease-out;}
#mainSection05 .designSelectWrap .optList li a span {display:inline-block; width:100%; height:100%; vertical-align:top;}
#mainSection05 .designSelectWrap .optList li:nth-child(1) a span,
#mainSection05 .designSelectWrap a.selectedBox span.opt1 {background:url(../images/brandsite_charTab01.png) no-repeat center center; background-size:contain;}
#mainSection05 .designSelectWrap .optList li:nth-child(2) a span,
#mainSection05 .designSelectWrap a.selectedBox span.opt2 {background:url(../images/brandsite_charTab02.png) no-repeat center center; background-size:contain;}
#mainSection05 .designSelectWrap .optList li:nth-child(3) a span,
#mainSection05 .designSelectWrap a.selectedBox span.opt3 {background:url(../images/brandsite_charTab03.png) no-repeat center center; background-size:contain;}
#mainSection05 .designSelectWrap .optList li:nth-child(4) a span,
#mainSection05 .designSelectWrap a.selectedBox span.opt4 {background:url(../images/brandsite_charTab04.png) no-repeat center center; background-size:contain;}
#mainSection05 .designSelectWrap .optList li:nth-child(5) a span,
#mainSection05 .designSelectWrap a.selectedBox span.opt5 {background:url(../images/brandsite_charTab05.png) no-repeat center center; background-size:contain;}
#mainSection05 .designSelectWrap .optList li:nth-child(6) a span,
#mainSection05 .designSelectWrap a.selectedBox span.opt6 {background:url(../images/brandsite_charTab06.png) no-repeat center center; background-size:contain;}
#mainSection05 .designSelectWrap .optList li:nth-child(7) a span,
#mainSection05 .designSelectWrap a.selectedBox span.opt7 {background:url(../images/brandsite_charTab07.png) no-repeat center center; background-size:contain;}
#mainSection05 .hSlideBox {position:relative; z-index:2; width:95%; max-width:950px; margin:0 auto; transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);}
/*#mainSection05 .hSlideBox .slick-list {overflow:visible;}*/
#mainSection05 .hSlideBox .s-slider .charThms {display:table; table-layout:fixed; width:100%;}
#mainSection05 .hSlideBox .s-slider .charThms ul {display:none; overflow:hidden; position:relative; z-index:2; width:100%; height:45vh; padding-bottom:20px; vertical-align:top; text-align:left; font-size:0;}
#mainSection05 .hSlideBox .s-slider .charThms ul:first-child {display:table-cell;}
#mainSection05 .hSlideBox .s-slider .charThms ul li {display:block; overflow:hidden; float:left; width:33.33%; height:15vh; opacity:0; transform:translate(0,-2%); transition:transform 0.2s ease-out, opacity 0.2s ease-out;}
#mainSection05 .hSlideBox .s-slider .charThms ul li:nth-child(1) {transition:transform 0.5s ease-out 0s, opacity 0.3s ease-out 0s;}
#mainSection05 .hSlideBox .s-slider .charThms ul li:nth-child(2) {transition:transform 0.5s ease-out 0.2s, opacity 0.3s ease-out 0.2s;}
#mainSection05 .hSlideBox .s-slider .charThms ul li:nth-child(3) {transition:transform 0.5s ease-out 0.4s, opacity 0.3s ease-out 0.4s;}
#mainSection05 .hSlideBox .s-slider .charThms ul li:nth-child(4) {transition:transform 0.5s ease-out 0.1s, opacity 0.3s ease-out 0.1s;}
#mainSection05 .hSlideBox .s-slider .charThms ul li:nth-child(5) {transition:transform 0.5s ease-out 0.3s, opacity 0.3s ease-out 0.3s;}
#mainSection05 .hSlideBox .s-slider .charThms ul li:nth-child(6) {transition:transform 0.5s ease-out 0.5s, opacity 0.3s ease-out 0.5s;}
#mainSection05 .hSlideBox .s-slider .charThms ul li:nth-child(7) {transition:transform 0.5s ease-out 0.2s, opacity 0.3s ease-out 0.2s;}
#mainSection05 .hSlideBox .s-slider .charThms ul li:nth-child(8) {transition:transform 0.5s ease-out 0.4s, opacity 0.3s ease-out 0.4s;}
#mainSection05 .hSlideBox .s-slider .charThms ul li:nth-child(9) {transition:transform 0.5s ease-out 0.6s, opacity 0.3s ease-out 0.6s;}
#mainSection05 .hSlideBox .s-slider .charThms ul li:nth-child(10) {transition:transform 0.5s ease-out 0.3s, opacity 0.3s ease-out 0.3s;}
#mainSection05 .hSlideBox .s-slider .charThms ul li:nth-child(11) {transition:transform 0.5s ease-out 0.5s, opacity 0.3s ease-out 0.5s;}
#mainSection05 .hSlideBox .s-slider .charThms ul li:nth-child(12) {transition:transform 0.5s ease-out 0.7s, opacity 0.3s ease-out 0.7s;}
#mainSection05 .hSlideBox .s-slider.slick-active .charThms ul li {opacity:1; transform:translate(0,0);}
#mainSection05 .hSlideBox .s-slider .charThms ul li a {display:inline-block; width:100%; height:100%; vertical-align:top; outline:none; text-align:center;}
#mainSection05 .hSlideBox .s-slider .charThms ul li a img {display:inline; max-width:100%; max-height:100%;}
#mainSection05 ul.character li {position:absolute; top:0; right:0; z-index:1; height:100%; height:100vh; padding-top:30px; box-sizing:border-box; opacity:0; transform:translate(10%,0); transition:transform 0.3s ease-out, opacity 0.3s ease-out;}
#mainSection05 ul.character li img {width:auto; height:50%;}
#mainSection05.reveal ul.character li.active {opacity:1; transform:translate(0,0); transition:opacity 0.8s ease-out, transform 0.8s ease-out;}
#mainSection05 .hSlideBox .slick-arrow.slick-prev {position:absolute; top:50%; left:50%; z-index:2; width:30px; height:46px; margin-top:16px; margin-left:-525px; border:none; outline:none; text-indent:-9999px; font-size:0; cursor:pointer; background:transparent url(../images/iconArrow01_prev.png) no-repeat center center;}
#mainSection05 .hSlideBox .slick-arrow.slick-next {position:absolute; top:50%; right:50%; z-index:2; width:30px; height:46px; margin-top:16px; margin-right:-525px; border:none; outline:none; text-indent:-9999px; font-size:0; cursor:pointer; background:transparent url(../images/iconArrow01_next.png) no-repeat center center;}
#mainSection05 .hSlideBox .s-slider .slick-dots {position:absolute; bottom:0; left:0; z-index:10; width:100%;}
#mainSection05 .hSlideBox .s-slider .slick-dots li {display:inline-block; width:13px; height:11px; margin:0 3px; vertical-align:top;}
#mainSection05 .hSlideBox .s-slider .slick-dots li button {display:inline-block; width:100%; height:100%; outline:none; vertical-align:top; font-size:0; cursor:pointer; background:url(../images/iconIndicator01_off.png) no-repeat center center; background-size:13px 11px;}
#mainSection05 .hSlideBox .s-slider .slick-dots li.slick-active button {background:url(../images/iconIndicator01_on.png) no-repeat center center; background-size:13px 11px;}

#mainSection06 {overflow:hidden; background:#000 url(../images/teasersite_bg06.jpg) no-repeat center top; background-size:cover;}
#mainSection06 .txtBox {position:relative; z-index:10; margin-top:5%; margin-top:5vh; transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);}
#mainSection06 .txtBox p {}
#mainSection06 .txtBox p img {width:100px; height:auto;}
#mainSection06 .infoBox {overflow:hidden; position:relative; z-index:11; width:100%; padding:15px 10px 0; box-sizing:border-box; transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);}
#mainSection06 .infoBox li {width:100%; padding:0; border:1px solid rgba(255,255,255,0.1); border-top:0; box-sizing:border-box; font-size:0; line-height:0; background:rgba(0,0,0,0.65);}
#mainSection06 .infoBox li:first-child {border-top:1px solid rgba(255,255,255,0.1);}
#mainSection06 .infoBox table.infoTbl {width:100%; table-layout:fixed; text-align:center;}
#mainSection06 .infoBox table.infoTbl thead th {padding:5px 0; border-bottom:1px solid rgba(255,255,255,0.1); font-size:14px; font-weight:500; line-height:20px; color:#fff;}
#mainSection06 .infoBox table.infoTbl tbody th {padding:5px 0 5px 15px; text-align:left; font-size:12px; font-weight:500; line-height:16px; color:#fff;}
#mainSection06 .infoBox table.infoTbl tbody td {padding:5px 0 5px 15px; text-align:left; font-size:12px; line-height:16px; color:#fff;}
#mainSection06 .infoBox table.infoTbl tbody tr:first-child th,
#mainSection06 .infoBox table.infoTbl tbody tr:first-child td {padding-top:10px;}
#mainSection06 .infoBox table.infoTbl tbody tr:last-child th,
#mainSection06 .infoBox table.infoTbl tbody tr:last-child td {padding-bottom:10px;}

#mainSection06 .objBox {}
#mainSection06 .objBox .sect06_obj01 {position:absolute; bottom:0; right:0; z-index:1; max-height:100vh; opacity:0; transform:translate(10%,0); transition:opacity 5s ease-out, transform 5s ease-out;}
#mainSection06 .objBox .sect06_obj01 img {width:auto; height:100%; max-height:600px; vertical-align:bottom;}

#mainSection06.reveal .objBox .sect06_obj01 {opacity:1; transform:translate(0,0); transition:opacity 0.8s ease-out, transform 0.8s ease-out;}

#mainSection06 .btnWrap {position:absolute; bottom:20px; left:0px; z-index:11; width:100%;}
#mainSection06 .btnWrap .btnBox {text-align:center;}
#mainSection06 .btnWrap .btnBox a.btnTeaser {display:inline-block; width:120px; height:38px; text-align:center;}
#mainSection06 .btnWrap .btnBox a.btnTeaser img {width:auto; height:38px; vertical-align:top;}
#mainSection06 .chkBoxWrap {overflow:hidden; margin-top:5px; text-align:center; font-size:0;}
#mainSection06 .chkBoxWrap input {display:inline-block; width:20px; height:20px; border:none; outline:none; vertical-align:top; background:url(../images/teaserMain_chkBox.png) no-repeat center center; background-size:20px; appearance:none; -webkit-appearance:none; cursor:pointer;}
#mainSection06 .chkBoxWrap input:checked {background:url(../images/teaserMain_chkBoxOn.png) no-repeat center center; background-size:20px;}
#mainSection06 .chkBoxWrap label {display:inline-block; vertical-align:top; text-align:left;}
#mainSection06 .chkBoxWrap label span {display:inline-block; width:100%; font-size:10px; line-height:20px; letter-spacing:-0.08em; color:#fff; cursor:pointer;}
/* teaser Main - end */

/* teaser apply - start */
.teaserApply {display:table; table-layout:fixed; width:100%; height:100%; height:calc(100vh - 100px);}
.teaserApply .inner {display:table-cell; vertical-align:middle; text-align:center; background:#000 url(../images/teaserApply_visual01.jpg) no-repeat center center; background-size:cover;}
.teaserApply .inner .txtBox {display:inline-block; overflow:hidden;}
.teaserApply .inner .txtBox h1 {}
.teaserApply .inner .txtBox h1 img {width:172px; height:auto;}
.teaserApply .inner .txtBox p {margin-top:15px;}
.teaserApply .inner .txtBox p img {width:314px; height:auto;}
.teaserApply .inner .btnWrap {margin-top:5px; text-align:center;}
.teaserApply .inner .btnWrap a {display:inline-block;}
.teaserApply .inner .btnWrap a img {width:117px; height:auto;}
/* teaser apply - end */